*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body, html{
  height: 100%;
  width: 100%;
    padding: 0;
  margin: 0;
}
:host {
  display: block;
  height: 100vh; 
  box-sizing: border-box;

}
a{
  text-decoration: none;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 10%;
  background-color: red;
  border: 1px solid black;
  align-items: center;

}


.pages{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
